.top-nav {
    height: 56px;
    padding: 12px 64px;
    border-bottom: solid 1px #aaa;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #F4F1EA;
    grid-area: header;
}

.top-nav h1 {
    font-size: 24px;
    color: #444;
    display: inline-block;
}

.main-links ul, .supplemental-links ul {
    display: inline-block;
    margin: 0;
}

.main-links a, .supplemental-links a {
    text-decoration: none;
    color: hsl(200, 70%, 45%);
}

.main-links li, .supplemental-links li {
    float: left;
    margin-left: 24px;
    text-decoration: none;
    list-style: none;
}

.supplemental-links {
    display: none;
}

.profile {
    display: inline-block;
    margin-left: auto;
}